@model StudentPortal.Models.Student

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
      
    
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
       
        
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("Gender", new List<SelectListItem>
           {
               new SelectListItem{Text="Male",Value="Male"},
               new SelectListItem{Text="Female",Value="Female"}
           }, "Select Gender", new { @class = "form-control" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.DepartId, "Department Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartId",null, "Select Department", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Age)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.BloodGroup, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("BloodGroup", new List<SelectListItem>
           {
               new SelectListItem{Text="A+",Value="A+"},
               new SelectListItem{Text="A-",Value="A-"},
               new SelectListItem{Text="B+",Value="B+"},
               new SelectListItem{Text="B-",Value="B-"},
               new SelectListItem{Text="O+",Value="O+"},
               new SelectListItem{Text="O-",Value="O-"},
               new SelectListItem{Text="AB+",Value="AB+"}

           }, "Select Blood Group", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BloodGroup)
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNo, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PhoneNo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DOB, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.DOB, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DOB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DOA, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.DOA, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DOA)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Addrs, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Addrs, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Addrs)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
